html {
    margin: 0px auto;
    width: 1920px;
}

body {
    width: 1920px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
  
.container {
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.one {
    background: url(../img/photo.jpg) no-repeat;
    padding: 20px 151px;
}

header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin-bottom: 284px;
}

.logo {
    display: block;
    margin-left: 375px;
}

.logo a {
    display: flex;
    align-items: center;
    width: 181px;
    text-decoration: none;
    /*float: left; /*прижали к левой части, обтекание справа*/
}

.waxom {
    font-weight: 400;
    text-align: right;
    font-size: 34px;
    color: #FFFFFF;
}

nav {
    margin-left: 190px;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
    font-size:14px;
    margin-left: 30px;
}
nav a:hover{
    color: #9E8F7D;
}

.icon-cart:before {
    content: "\f133";
    font-family: FontAwesome;
    margin-left: 32px;
}
.icon-search:before {
    content: "\f002";
    font-family: FontAwesome;
}
.vector-left {
    width: 41px;
    height: 74px;
    background: url(../img/left.png) no-repeat;
}
.vector-left:hover{
    background: url(../img/left1.png) no-repeat;
}
.items{
    display: flex;
}
.info{
    text-align: center;
    flex-grow: 2;
    margin-bottom: 328px;
}
.ht{
    display: block; 
    width: 100%;
    font-weight: 550;
    color:#FFFFFF;
    font-size:36px;
}
.ho{
    font-weight: 700;
    color:#FFFFFF;
    font-size:52px;
}
.info p{
    color:#FFFFFF;
    font-size:16px;
    margin: 0;
    padding:0 0 51px 0;
}
.info-c {
    width: 171px;
    text-align: center;
    padding: 22px 38px;
    color:#FFFFFF;
    background-color:#998675;
    text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр)*/
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    font-weight: 600; /* Жирное начертание */
}

.buy-item a:hover {
    font-weight: normal;
}

.buy-item a:active {
    color: black;
}
.vector-right {
    width: 41px;
    height: 74px;
    background: url(../img/right.png) no-repeat;
}
.vector-right:hover{
    background: url(../img/right1.png) no-repeat;
}
.v-00{
    width: 100px;
    height: 18px;
    align-self: flex-end;
    border: 2px solid black;
}
.v-00 a{
    width: 12px;
    height: 12px;
    background: url(../img/v-00.png) no-repeat;
    border: 2px solid yellow;
}
.v-00 a:hover{
    background: url(../img/v-hover.png) no-repeat;
}
.info-1{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 78px 378px;
}
figure a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: #555555;
  }
figure:after{
    content: "";
    display: block;
    width: 71px;
    height: 4px;
    background-color: #555555;
    margin: 0 0 0 65px;
}
figure:hover:after {
    background-color: #C7B299;
}
.icon {
    fill: #555555;
    margin: 0 0 30px 0;
}
figure a:hover svg{
    fill: #C7B299;
}
figcaption:hover span{
    color: #C7B299;
  }