html {
    margin: 0px auto;
    width: 1920px;
}

body {
    width: 1920px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
  
.container {
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.one {
    background: url(../img/photo.jpg) no-repeat;
    padding: 20px 75px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
}

.logo a {
    display: flex;
    align-items: center;
    width: 181px;
    text-decoration: none;
    /*float: left; /*прижали к левой части, обтекание справа*/
}

.waxom {
    font-weight: 400;
    text-align: right;
    font-size: 34px;
    color: #FFFFFF;
    /*font-family: ﻿Raleway-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;*/

}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icon-cart:before {
    content: "\f133";
    font-family: FontAwesome;
}
.icon-search:before {
    content: "\f002";
    font-family: FontAwesome;
}
.vector-left {
    width: 41px;
    height: 74px;
    background: url(../img/left.png) no-repeat;
    border: 2px solid black;
}

.vector-right {
    width: 41px;
    height: 74px;
    background: url(../img/right1.png) no-repeat;
    border: 2px solid black;
}